body {
    font-family: "Lato", sans-serif;
    overflow: auto;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 11;
}

.sidenav a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    margin-left: 5%;
    font-family: 'Arvo', sans-serif;

}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Add your other styles below */
body, html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.parallax {
    position: relative; /* Ensure a stacking context */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 99vw;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.skills-list {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: transparent;
    height: 350px;
    margin-left: 7%;
    margin-right: 7%;
}

.skill-category {
    width: 30%;
    padding: 10px;
    background-color:transparent;
    border-radius: 5px;
    margin: 1%;
}

.skill-category h1{
    font-family: 'Source Code Pro', sans-serif;
    font-size: 1.25em;
    font-weight: bold;
    color: white;
    padding-left:5% ;
}
.skill-category p{
    font-family: 'Source Code Pro', sans-serif;
    font-size: 1em;
    font-weight: normal;
    color: white;

}
.title{
    display: flex;

}
#skills h2{
    color: white;
    margin-top: -17%;
    margin-left: 10% ;
    font-size: 2.5em;
    margin-bottom: -1%;
    font-family: 'Zilla Slab', sans-serif;
    font-weight: lighter;
}


.projects {
 background-color: transparent;
 position: center;
 margin: 30px;
 display: flex;
}
.projects h2 {
    color: #ffffff;
    font-size: 2.5em;
    font-family: "Zilla Slab", sans-serif;
    margin-left: 13%;
    margin-top: -25%;
    margin-right: 7%;
    font-weight:normal ;

}
.projects ul{
    color: #ffffff;
    font-size: 1.5em;
    font-family: "Arvo", sans-serif;
    width: 80%;
}
#projects .projectstitle p{
    color: #ffffff;
    font-size: .7em;
    font-family: "Arvo", sans-serif;
    font-weight: lighter;
}
.projectstitle {
    margin-top: -30%;
}
.aboutme {
    padding-top: 2%;
    color: white;
    margin-top: -28%;
    margin-left: -2%;

}
.aboutme p {
    font-family: 'Arvo', sans-serif;
    font-size: 1em;
}
.aboutme ul {
    width: 80%;
    font-size: .9em;
    margin-left:-2%;
}
.aboutme li {
    padding: 2%;
}



.openbtn {
    position: absolute; 
    top: 10px;
    left: 20px; 
    z-index: 9; 
    color: #fff; 
}
.parallax {
    height:100%;
}
.parallax h1 {
    margin: 0; 
    padding: 0; 
    color: #ffffff; 
    font-family: 'Zilla Slab', sans-serif;
    font-size: 4em;
}
.parallax h2 {
    margin: 0; 
    padding: 0; 
    color: #534afb; 
    font-family: 'Arvo', sans-serif;
    font-size: 3em;
}
.parallax p {
    color: #ffffff;
    font-family: 'Arvo', sans-serif;
    font-size: 1em;
}
.main {
    display: flex;
    flex-direction: column;
}

.galaxy-input{
    width: 300px;
    height: 30px;
    background-color: rgba(59, 56, 56, 0.356);
    border: none;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
    color: white;
    transition: all 0.5s ease-in-out;
}
.galaxy-input:focus, .galaxy-input:hover {
    background-color: rgba(59, 56, 56, 0.8);
    outline: none;
    scale: 1.1;
    outline: none;
    background-color: rgba(59, 56, 56, 0.356);
    caret-color: rgba(255, 255, 255, 0.534);
}
.line-container {
    position: relative;
    width: 80%; /* Full width */
    height: 2px; /* Height of the line */
    background: white; /* Color of the line */
  }
  
  .line-container::before, .line-container::after {
    content: '';
    position: absolute;
    background: white; /* Match the line color */
  }
  
  .line-container::before {
    top: 0;
    left: 50%; /* Adjust this value based on where you want the turn to happen */
    width: 2px; /* This makes it a vertical line */
    height: 100px; /* Length of the turn going downwards */
  }
  
  .line-container::after {
    top: 98px; /* Adjust so it connects smoothly with the ::before element */
    left: 50%;
    right: 50%;
    width: 50%; /* Length of the line after the turn */
    height: 2px; /* Keeps it horizontal */
  }
  svg {
    display: block;
    margin: 20px auto; /* Center the SVG and add some margin */
    margin-top: -17%;
}
  